<div class="container-100vw">
  <header>
    <h1 class="title">Vibe Vault</h1>
    <h3 class="title sub-title">Store Website</h3>
  </header>
  <div class="card">
    <h1 class="title">Login</h1>
    <div class="form">
      <div class="input-container">
        <input type="text" id="input" required="" />
        <label for="input" class="label">Email</label>
        <div class="underline"></div>
      </div>
      <div class="input-container">
        <input type="text" id="input" required="" />
        <label for="input" class="label">Senha</label>
        <div class="underline"></div>
      </div>
      <div class="input-container">
        <a href="">Não possuo conta<br />Registrar-se</a>
      </div>
      <div class="input-container">
        <button class="btn-primary content-text">Logar</button>
      </div>
    </div>
  </div>
  <footer></footer>
</div>
